<div id="contener">
  <div id="baner" [style.background-color]="kolorb" [style.color]="kolort">Wybierz samochód marzeń:
    <select [(ngModel)]="samochod">
      <option [ngValue]="null">Brak wyboru</option>
      <option *ngFor="let value of samochody" [ngValue]="value">{{value.marka}} {{value.model}}</option>
    </select>
    <br>
    <button (click)="zmienKolor()" type="button" [class.przycisk]="aktywna" [style.color]="kolort">Zmień kolor tła</button>
  </div>
  <div *ngIf="samochod">
    <div id="panel_lewy">
      <label class="check">
        <input type="checkbox" [(ngModel)]="pokazZdjecie">Pokaz zdjecie
      </label>
    </div>
    <div id="panel_srodkowy">
      <p class="akapit">{{samochod.marka}} {{samochod.model}}
        <ng-template #brakZdjecia>
          <p class=center>Brak zdjęcia</p>
        </ng-template>
      </p>
      <br>
      <img class=center src="{{samochod.zdjecie}}" [class.zdjecie]="aktywna" *ngIf="pokazZdjecie else brakZdjecia">
    </div>
    <div id="panel_prawy">
      <ng-container [ngSwitch]="samochod.type">
        <img class="miniaturka" src="assets/images/sport.png" *ngSwitchCase="Rodzaj.sportowy">
        <img class="miniaturka" src="assets/images/suv.png" *ngSwitchCase="Rodzaj.terenowy">
        <img class="miniaturka" src="assets/images/camper.png" *ngSwitchCase="Rodzaj.kamper">
      </ng-container>
      <p>Dane:</p>
      <ul>
        <li *ngFor="let item of samochod.dane">{{item}}</li>
      </ul>
    </div>
  </div>
</div>